<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorials</title>
        <link href="styles.css" rel="stylesheet" />
        <script src="https://unpkg.com/vue"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
        <style>
          body {
            font-family: 'Nunito', sans-serif;
          }
        </style>
    </head>
    <body>
        <div id="vue-app">
            <h1>Keyboard Events</h1>
            <label>Name:</label>
            <input type="text" v-on:keyup.enter="logName" v-model="name" />
            <span>{{ name }}</span>
            <label>Age:</label>
            <input type="text" v-on:keyup.alt.enter="logAge" v-model="age" />
            <span>{{ age }}</span>
        </div>
    </body>

    <script src="app.js"></script>
</html>
